{% extends "course/course_detail.html" %}

{% block course_detail_body %}
<table class="table table-sm">
  <thead>
    <tr>
      <th>學生</th>
      {% for a in assignment_list %}
      <th>
        <span class="badge badge-dark">{{ forloop.counter }}</span>
        {{ a.title }}
      </th>
      {% endfor %}
      <th>心得</th>
      <th>平均</th>
    </tr>
  </thead>
  <tbody>
    {% for stu in student_list %}
    <tr>
      <td>
        <span class="badge badge-primary">{{ stu.seat }}</span>
        {{ stu.stu.first_name }}
      </td>
      {% for s in stu.scores %}
      <td>{{ s }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}