{% extends "base.html" %}

{% load user_tags %}

{% block content %}
<div id="course_view" class="card">
  {% with b1="btn btn-sm btn-primary" b2="btn btn-sm btn-secondary" %}
  <div class="card-header d-flex">
    <div>
      <a href="{% url 'course_view' course.id %}">{{ course.name }}</a>
      <small>{{ course.teacher.first_name }} 老師</small>
    </div>
    {% if user.is_superuser or course.teacher == user %}
    <div class="ml-auto">
      <span class="badge badge-light">
        選課密碼： {{ course.enroll_password }}
      </span>
      <a href="{% url 'course_edit' course.id %}" class="{{ b1 }}">
        <i class="fas fa-edit"></i> 編輯
      </a>
    </div >
    {% endif %}
  </div>
  <div class="card-body">
    {% block course_detail_body %}
    <div id="student_op" class="btn-group">
      {% if not course|has_member:user and not user.is_superuser %}
      <a href="{% url 'course_enroll' course.id %}" class="{{ b1 }}">
        <i class="fas fa-id-badge"></i> 選修
      </a>
      {% else %}
      <a href="{% url 'course_users' course.id %}" class="{{ b1 }}">
        <i class="fas fa-users"></i> 修課名單
      </a>
      <a href="{% url 'course_msglist' course.id %}" class="{{ b1 }}">
        <i class="fas fa-list"></i> 公告列表
      </a>
      <a href="{% url 'assignment_list' course.id %}" class="{{ b1 }}">
        <i class="fas fa-list"></i> 作業
      </a>
        {% if course|has_student:user %}
        <a href="{% url 'user_msgsend' course.teacher_id %}" class="{{ b1 }}">
          <i class="fas fa-paper-plane"></i> 提問
        </a>
        <a href="{% url 'course_seat' course.id %}" class="{{ b1 }}">
          <i class="fas fa-chair"></i> 更改座號
        </a>
        {% endif %}
      {% endif %}
    </div>
      {% if course.teacher == user %}
      <div id="teacher_op" class="btn-group">
        <a href="{% url 'course_msgbroadcast' course.id %}" class="{{ b2 }}">
          <i class="fas fa-bullhorn"></i> 發布公告
        </a>
        <a href="{% url 'remark_users' course.id %}" class="{{ b2 }}">
          <i class="fas fa-lightbulb"></i> 學生心得
        </a>
      </div>
      {% endif %}
    {% endblock %}
  </div>
  {% endwith %}
</div>
{% endblock %}