{% extends "course/course_detail.html" %}

{% load static %}

{% block course_detail_body %}
<div id="work-detail" class="card">
  <div class="card-header">
    {{ object.user.first_name }}
  </div>
  <div class="card-body">
    {{ object.memo|linebreaks }}
    {% if object.attachment %}
    <a href="{% get_media_prefix %}{{ object.attachment }}">
      <i class="fas fa-paperclip"></i> 副件下載
    </a>
    {% endif %}
  </div>
  <div class="card-footer">
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="送出" class="btn btn-sm btn-primary">
    </form>
  </div>
</div>
{% endblock %}